#html .arve{display:block;margin-bottom:1.5em;width:100%}#html .arve:after{clear:both;content:"";display:table}#html .arve.alignleft{margin-right:1.5em;margin-top:.4em}#html .arve.alignright{margin-left:1.5em;margin-top:.4em}#html .arve [hidden],#html .arve[hidden]{display:none}#html .arve-inner{display:block;margin:0;padding:0;width:auto}#html .arve-embed{display:block;margin:0;max-height:100vh;overflow:hidden;padding:0;position:relative;width:100%}#html .arve[data-provider=tiktok] .arve-embed{height:580px}#html .arve-embed--has-aspect-ratio{aspect-ratio:16/9}#html .arve-embed--has-aspect-ratio:after{clear:both;content:"";display:block}#html .arve-ar{display:block}#html .arve-iframe,#html .arve-play-btn,#html .arve-thumbnail{border:0;bottom:0;height:100%;left:0;margin:0;padding:0;position:absolute;top:0;width:100%}#html .arve-video{height:auto;margin:0;padding:0;width:100%}#html .arve-promote-link{float:right;font-family:Open Sans,Sagoe UI,Arvo,Lato,arial,sans-serif;font-size:.8em}.components-button--arve-thumbnail{display:block;height:auto}@supports(aspect-ratio:16/9){#html .arve-ar,#html .arve-embed--has-aspect-ratio:after{display:none}}.et-fb-tinymce-buttons #arve-btn{display:none}

/*
     FILE ARCHIVED ON 06:03:51 Jan 17, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:34:23 Feb 11, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.689
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.009
  esindex: 0.009
  cdx.remote: 32.192
  LoadShardBlock: 571.77 (3)
  PetaboxLoader3.resolve: 253.621 (3)
  PetaboxLoader3.datanode: 231.733 (4)
  load_resource: 123.017
*/